@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&family=Roboto&display=swap');


:root{
    font-size: 62.5%;
    color: white;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* UTILITIES */
/* HEADER JAVIER DE MENDOZA */
.text-xxxl {
    font-size: 8rem;
    font-family: 'Bebas Neue', cursive;
}

/* TITULO SECCIÓN */
.text-xxl {
    font-size: 6rem;
    font-family: 'Bebas Neue', cursive;
}

.text-xl {
    font-size: 2.5rem;
}

/* BTN MENU */
.btn{
    transition: all 0.5s ease;
}
.btn:hover{
    transform: translateY(-8px);
}

header{
    background-color: #0F0E04;
    position: fixed;
    width: 100%;
    top: 0;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem;
}

.container__head-menu{
    display: flex;
    flex-direction: row;
}

.container__head-menu div {
    padding: 0 3rem;
    font-size: 1.4rem;
}

.container__head-menu div h2 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    padding: 4rem 0;
}


.container__head-menu div a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}



/*MAIN*/
main{
    margin-top: 30rem;
}

.title{
    text-align: center;
}

.card {
    padding: 3rem 30rem;
    text-align: center;
}
    
.card__parraf,
.card__title{
    margin-top: 5rem;
}

.card__title{
    margin-top: 20rem;
}

.card__parraf-card{
    margin-top: 6em;
    padding: 0 30rem;
}

.card__img{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 10rem; 
}

footer{
    margin-top: 20rem;
    background-color: #0F0E04;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
    padding: 10rem 2rem;
}

.footer div div {
    padding: 1.2rem;
}

.footer div h4 {
    font-size: 2rem;
}

.footer__social{
    padding: 5rem 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__social-email,
.footer__social-fb,
.footer__social-instagram{
    width: 5rem;
    cursor: pointer;
}

.footer__page{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.footer__cardTaller {
    font-family: "Open Sans", sans-serif;
}

.footer__cardTaller h3,
.footer__cardContact h3{
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.footer__cardContact{
    text-align: end;
}

.footer__page-link{
    margin-top: 2rem;
}

.footer__page-link a{
    
    color: white;
}

.footer__page-link a h4{
    font-size: 3rem;
    margin-right: 4rem;
}

