@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    font-size: 62.5%;
    color: white;
    letter-spacing: 2.5px;
}

html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

/* UTILITIES */

/* HEADER JAVIER DE MENDOZA */
.text-xxxl {
    font-size: 10rem;
}

/* TITULO SECCIÓN */
.text-xxl {
    font-size: 6rem;
}

.text-xl {
    font-size: 2.5rem;
}



footer{
    background-color: #0F0E04;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}

.container__head-title h1{   
    font-family: 'Bebas Neue', cursive;
}

.container__head-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container__head-menu div {
    padding: 0 2rem;
    font-size: 1.5rem;
}

.container__head-menu div h2 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    margin-top: 5rem;
}


.container__head-menu div a {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease;
}

.inicio__img{
    width: 100%;
}

.inicio__img-img{
    width: 60%;
    float: right;
    margin-right: 10rem;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 220rem;
}

.inicio__text {
    width: 100%;
}

.inicio__text p {
    padding: 2rem 0;
    font-family: "Open Sans", sans-serif;
}

.title {
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
}

.title h3 {
    font-family: 'Bebas Neue', cursive;
}

footer{
    margin-top: 20rem;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: "Open Sans", sans-serif;
    padding: 10rem 2rem;
}

.footer div div {
    padding: 1.2rem;
}

.footer div h4 {
    font-size: 2rem;
}

.footer__social{
    padding: 5rem 0; 
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__social-email,
.footer__social-fb,
.footer__social-instagram{
    width: 5rem;
    cursor: pointer;
}

.footer__page{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

.footer__cardTaller {
    font-family: "Open Sans", sans-serif;
}

.footer__cardTaller h3,
.footer__cardContact h3{
    letter-spacing: 1rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.footer__cardContact{
    text-align: end;
}

.footer__page-link{
    margin-top: 2rem;
}

.footer__page-link a{
    
    color: white;
}

.footer__page-link a h4{
    font-size: 3rem;
    margin-right: 4rem;
}