@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{
    font-size: 62.5%;
    color: white;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2.5px;
}

html {
    box-sizing: border-box;
}

* {
    background-color: black;
    margin: 0;
    padding: 0;
}

.container__head-title h1{
    font-size: 10rem;    
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
    margin: 1rem;

}

.container__head-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.container__head-menu div {
    padding: 0 2rem;
    font-size: 1.5rem;
}

.container__head-menu div h2 {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    cursor: pointer;
    margin-top: 5rem;
}


.container__head-menu div a {
    text-decoration: none;
    color: white;
}

/* MAIN */


.inicio__img{
    width: 100%;
}

.inicio__img-img{
    width: 60%;
    float: right;
    margin-right: 10rem;
}

.inicio {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 220rem;
    margin-top: 10rem;
}

.inicio__text {
    width: 100%;
}

.inicio__text div h3{
    font-size: 8rem;
}

.inicio__text p {
    font-size: 2.5rem;
    padding: 2rem 0;
    font-family: "Open Sans", sans-serif;
}

.title {
    font-size: 6rem;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 4rem;
    letter-spacing: 2rem;
}

.title h3 {
    font-family: 'Bebas Neue', cursive;
}



/* FOOTER */

footer{
    margin-top: 20rem;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    padding: 10rem 2rem;
}

.footer div div {
    padding: 1.2rem;
}

.footer div h3{
    font-family: 'Bebas Neue', cursive;
}

.footer div h4 {
    font-size: 2rem;
}

.footer__links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0 3rem;
}

.footer__social{
    margin-top: 3rem;
    margin-bottom: 20rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer__social-email,
.footer__social-fb,
.footer__social-instagram{
    width: 5rem;
    cursor: pointer;
}

.footer__page{
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.footer__page h4{
    margin-right: 3rem;
    color: yellow;    
}